<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="BaseUrl" value="http://dlcs.azurewebsites.net" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="Vocab" value="http://dlcs.azurewebsites.net/vocab#" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="write-docs-to-disk" value="false" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
