@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h3>iiif.ly</h3>

<p>This is a sample application to demonstrate the use of the Digital Library Cloud Services API.</p>

<p>More information:
    <ul>
        <li><a href="http://dlcs.github.io/dlcs-doc/about/">About the DLCS</a></li>
        <li><a href="https://dlcs.gitbooks.io/book/content/">API documentation</a></li>
    </ul>
</p>
